extends layout

block content
  h1 Add new tag
  form(action="add_tag", method="post")
    label(for="tag_name") tag name
    input(type="text" id="tag_name" name="new_tag")
    br
    label(for="tag_name") tag image URL (preferably landscape, less than 200kB)
    input(type="text" id="image_url" name="new_tag_image_url")
    br
    input(type="submit")
  ul Existing tags
    each tag in tags
      li
        a(href='/app/admin/tag/' + tag.id) #{tag.tag_name}
