extends layout

block content
  h1 Add new tag
  form(action="add_tag", method="post")
    input(type="text", name="new_tag")
    br
    input(type="submit")
  ul Existing tags
    each tag in tags
      li #{tag.tag_name}
