extends layout

block content
  form(action="/app/admin/city/" + city.id + "/modify_name" method="post")
    #city_name #{city.city_name}
    #change_city_name.edit edit
    input(type="submit")
  form(action="/app/admin/city/" + city.id + "/modify_image_url" method="post")
    #image_url
      img(src=city.image_url)
    div(id="change_image_url" class="edit") edit
    input(type="submit")
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  script(src="/js/city.js")
