extends layout

block content
  h1= title
  p All retailers of #{city.city_name}  

  ul
  each retailer in retailers
    li
       a(href="/app/admin/gear/" + city.city_name + "/" + retailer.retailer_name) #{retailer.retailer_name}
