extends layout

block content
  h1= title
  p Create new group by adding relevant info

  h2 Creating new group
  form(action="create_group", method="post")
    label(for="group_name") Group Name 
    input(type="text", name="group_name", id="group_name")
    br
    label(for="group_url") Website URL
    input(type="text", name="group_url", id="group_url")     
    br
    label(for="city_id") City 
    //- TODO Add an option: "none" and place a rule that selected option can't
    //- be none when submitting
    //- TODO what to do if the group's online?
    //- TODO Also what if the group's both online and offline?
    select(name="city_id", id="city_name")  
      each city in cities
        option(value=city.id) #{city.city_name}
      //- option(value='null') None
    br
    label(for="img_url_square") image URL (square, 160x160?)
    input(type="text", name="img_url_square", id="img_url_square")    
    br
    label(for="comments") comments
    input(type="text", name="comments", id="comments")        
    br
    input(type="submit")
