extends layout

block content    
  h1= title
  p Create new city
  
  h2 Creating new city
  form(action="/city/create", method="post")
    input(type="text", name="city_name")
    input(type="submit")
  
  h2 Cities
  
  ul
  each city in cities
    li
      = city.city_name 
      | &nbsp;
      a(href="/city/" + city.id + "/destroy") destroy
