extends layout

block content
  h1= title
  p Create a new event

  form(action="create_new", method="post")
    label(for="event_name") Event name
    input(type="text", name="event_name", id="event_name")
    br
    label(for="maturity") Maturity
    input(type="text", name="maturity", id="maturity")
    br
    label(for="event_url") Event URL
    input(type="text", name="event_url", id="event_url")
    br
    label(for="organiser_name") Organiser
    input(type="text", name="organiser_name", id="organiser_name")
    br
    label(for="organiser_url") Organiser URL
    input(type="text", name="organiser_url", id="organiser_url")
    br
    label(for="image_url_square") Image URL square 160x160
    input(type="text", name="image_url_square", id="image_url_square")
    br
    label(for="image_url_rect") Image URL rectangle
    input(type="text", name="image_url_rect", id="image_url_rect")
    br
    label(for="address_field") Address
    input(type="text", name="address_field", id="address_field")
    br
    label(for="city_id") City
    select(name="city_id", id="city_name")  
      each city in cities
        option(value=city.id) #{city.city_name}
    br
    label(for="location_url") Location URL
    input(type="text", name="location_url", id="location_url")
    br
    label(for="start_date") Start date (yyyy-mm-dd)
    input(type="text", name="start_date", id="start_date")
    br
    label(for="end_date") End date (yyyy-mm-dd)
    input(type="text", name="end_date", id="end_date")
    br
    label(for="comments") Comments
    input(type="text", name="comments", id="comments")
    br
    input(type="submit")
