doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap.css')
    link(rel='stylesheet', href='/admin.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body
    a(href='/') Admin Home
    block content
