doctype html

html(lang='en')
  head
    title TODO 
    link(href="/application.css" rel="stylesheet")
    link(href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
  body
    include ../navbar
    .container
      a(href='/app/admin') Admin Home (Sitemap)
      block content
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
