extends layout

block content
  h1= title
  p Create new gear retailer by adding relevant info

  h2 Creating new gear retailer
  form(action="create_retailer", method="post")
    label(for="retailer_name") Retailer Name 
    input(type="text", name="retailer_name", id="retailer_name")
    br
    label(for="website_url") Website URL
    input(type="text", name="website_url", id="website_url")     
    br
    label(for="address_field") address_field
    input(type="text", name="address_field", id="address_field")   
    br
    label(for="address_landmark") address landmark
    input(type="text", name="address_landmark", id="address_landmark")
    br
    label(for="city_id") City 
    //- TODO Add an option: "none" and place a rule that selected option can't
    //- be none when submitting
    //- TODO what to do if the retailer's online?
    //- TODO Also what if the retailer's both online and offline?
    select(name="city_id", id="city_name")  
      each city in cities
        option(value=city.id) #{city.city_name}
      //- option(value='null') None
    br
    label(for="location_url") location_url
    input(type="text", name="location_url", id="location_url")    
    br
    label(for="phone_primary") phone_primary
    input(type="text", name="phone_primary", id="phone_primary")   
    br
    label(for="phone_secondary") phone_secondary
    input(type="text", name="phone_secondary", id="phone_secondary") 
    br
    label(for="phone_tertiary") phone_tertiary
    input(type="text", name="phone_tertiary", id="phone_tertiary")  
    br
    label(for="retailer_email") retailer_email
    input(type="text", name="retailer_email", id="retailer_email")  
    br
    label(for="comments") comments
    input(type="text", name="comments", id="comments")        
    br
    input(type="submit")

