extends layout

block content
  h1= title
  p Create new gear retailer by adding relevant info

  h2 Creating new gear retailer
  form(action="gear/create_retailer", method="post")
    label(for="retailer_name") Retailer Name 
    input(type="text", name="retailer_name", id="retailer_name")
    br
    label(for="website_url") Website URL
    input(type="text", name="website_url", id="website_url")     
    br
    label(for="address_field") address_field
    input(type="text", name="address_field", id="address_field")   
    br
    label(for="address_landmark") address landmark
    input(type="text", name="address_landmark", id="address_landmark")
    br
    label(for="city_name") City 
    select(name="city_name", id="city_name")  
      each city in cities
        option(value=city.id) #{city.city_name}
    br
    label(for="location_url") location_url
    input(type="text", name="location_url", id="location_url")    
    br
    label(for="facebook_url") facebook_url
    input(type="text", name="facebook_url", id="facebook_url")    
    br
    label(for="twitter_url") twitter_url
    input(type="text", name="twitter_url", id="twitter_url")     
    br
    label(for="instagram_url") instagram_url
    input(type="text", name="instagram_url", id="instagram_url")   
    br
    label(for="youtube_url") youtube_url
    input(type="text", name="youtube_url", id="youtube_url")     
    br
    label(for="available_brands") available_brands
    input(type="text", name="available_brands", id="available_brands")
    br
    label(for="phone_primary") phone_primary
    input(type="text", name="phone_primary", id="phone_primary")   
    br
    label(for="phone_secondary") phone_secondary
    input(type="text", name="phone_secondary", id="phone_secondary") 
    br
    label(for="phone_tertiary") phone_tertiary
    input(type="text", name="phone_tertiary", id="phone_tertiary")  
    br
    label(for="retailer_email") retailer_email
    input(type="text", name="retailer_email", id="retailer_email")  
    br
    label(for="comments") comments
    input(type="text", name="comments", id="comments")        
    br
    input(type="submit")

