.footer.footer-bg.clearfix
  .container.margin-tb-10.padding-tb-10.clearfix
    span.fs-24.io-yellow.bold India Outside.
    span.fs-12.margin-l-5 Find your adventure. Explore the outdoors. Get fit.
    .text-center.margin-t-15
      ul
        li.f-bullet
          a(href="/about" title="What we stand for. Who we are.") About
        li.f-bullet
          a(href="mailto:team@indiaoutside.org" title='Get in touch with us or just say "Hi!"' target="_blank") Contact
  .footer-bottom.text-center.padding-tb-5
    | Trademarks belong to their respective owners. &copy; 2015 - India Outside | All rights reserved.
    //-.col-md-4.border-r-1
    //-  .fb-box.text-center 
    //-    #fb-root
    //-    script
    //-      | (function(d, s, id) {
    //-      |   var js, fjs = d.getElementsByTagName(s)[0];
    //-      |     if (d.getElementById(id)) return;
    //-      |       js = d.createElement(s); js.id = id;
    //-      |         js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=281752048631925&version=v2.0";
    //-      |           fjs.parentNode.insertBefore(js, fjs);
    //-      |           }(document, 'script', 'facebook-jssdk'));
    //-    .fb-like-box(data-href="https://www.facebook.com/geekblah" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="true" data-show-border="true" data-width="100%" height="580px")
    //-.col-md-4
    //-  .tw-box.text-center
    //-    a(class="twitter-timeline" href="https://twitter.com/shreshthmohan" data-widget-id="563707138522894336" width="95%" height="580px" data-link-color="#df8a13") Tweets by @shreshthmohan
    //-    script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
