.footer.footer-bg.clearfix
  .container.margin-tb-10.padding-tb-10.clearfix
    span.fs-24.io-yellow.fw-600 India Outside
    span.fs-12.block Find your adventure. Explore the outdoors. Get fit.
    .text-center.margin-t-15
      ul
        li.f-bullet
          a(href="/about" title="What we stand for. Who we are.") About
        li.f-bullet
          a(href="mailto:team@indiaoutside.org" title='Get in touch with us or just say "Hi!"' target="_blank") Contact
        li.f-bullet
          a(href="//fb.com/indiaoutside" title="India Outisde on Facebook" target="_blank") Facebook
        li.f-bullet
          a(href="//twitter.com/indiaoutside" title="India Outisde on Twitter" target="_blank") Twitter
        li.f-bullet
          a(href="//instagram.com/indiaoutside" title="India Outisde on Instagram" target="_blank") Instagram 
  .footer-bottom.text-center.padding-tb-5
    | Trademarks belong to their respective owners. &copy; 2015 - India Outside | All rights reserved.
