extends layout

block content
  h1= title
  p List of links for this 'app'
  a(href='/city/index')  List of cities
  br
  a(href='/gear/create_retailer')  Create New Retailer
  br
  a(href='/gear') Gear retailers by city 
  br
  a(href='/events/create_new')  Create New Event 
  br
  a(href='/events') Events by city 
  br
  a(href='/add_tag') Add a new activity tag
  br 
  a(href='/add_brand') Add a new gear brand
