extends ../layout

block content
 .heading.text-center
   h1.sm Oops! Page not found.
 .white-bg.clearfix.std-shadow.padding-10
   .row
     .col-md-4.col-md-offset-4.clearfix
       a.col-md-12.fs-18.btn-lg.btn-warning.text-center(href="/" role="button") Let's take you home!
   
