extends ../layout

block content
  .white-bg.clearfix.std-shadow.padding-10
    .col-md-10.col-md-offset-1
      .para-wrapper.padding-10
        .para-title.text-center.fs-24.padding-tb-10
          | Our Vision
        .para-desc.fs-16
          p We at India Outside aim to build an online platform for adventure sports and active lifestyle in India. We intend to do that by making it easier for you to find all the information you need about an outdoor sport you wish to pursue.
      .para-wrapper.padding-lr-10.padding-tb-10
        .para-title.text-center.fs-24.padding-tb-10
          | People
        .para-desc
          .row
            .col-md-12.padding-tb-10.clearfix
              .person-bust.col-xs-6.col-md-2.col-sm-4
                img(src='https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpa1/v/t1.0-1/c0.14.160.160/p160x160/995969_10201272787314030_82337291_n.jpg?oh=e304c2f35ef88126d456c50d8610c1a4&oe=55952795&__gda__=1435038016_046ec07aca107ea9857c97563f970301' height="100%" width="100%" style="border-radius: 100%;")
                .text-center.fs-20
                  a.gray(href="//twitter.com/shreshthmohan" target="_blank")
                    span.fa.fa-twitter-square.hover-color-tw.w-20
                  a.gray(href="//facebook.com/shreshthmohangupta" target="_blank")
                    span.fa.fa-facebook-square.hover-color-fb.w-20
                  a.gray(href="//linkedin.com/profile/view?id=29369486" target="_blank")
                    span.fa.fa-linkedin-square.hover-color-li.w-20
              .person-bio.col-xs-6.col-md-10.col-sm-8
                .person-title.fs-20.bold
                  | Shreshth Mohan
                .person-role.fs-16
                  | Curation, Engineering & Design
                .person-desc.fs-14.hidden-xs
                  p I am a fitness freak and an outdoor sports enthusiast who happens to know a bit about technology. I use my cycle to commute in Delhi. I quit my job as an electronics engineer to travel and build India Outside.
                  p I think that there are more fun ways in which one can lead an active lifestyle than dragging oneself to a gym and downing pounds of supplements to get in shape and stay that way.
                  p When I am not working on India Outside I engage in either rock-climbing, cycling, calesthenics or hiking.
            .col-md-12.text-center.fs-20.padding-tb-10.clearfix
              | Thanks to
            .col-md-4.clearfix.padding-10
              .person-bust.col-xs-4
                img(src='https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/v/t1.0-1/p160x160/10845998_736044879804770_4940668537314866177_n.jpg?oh=9e2dde914ddd00f562985bfa7a34e47b&oe=5550D890&__gda__=1435745398_2ecde09324638f3e16c842d386080888' height="100%" width="100%" style="border-radius: 100%;")
              .person-bio.col-xs-8
                .person-title.fs-18.bold
                  | Dushyanth R.
                .person-desc.fs-14
                  | for general advice.
                  .fs-18
                    a(href="//twitter.com/dash267" target="_blank").gray
                      span.fa.fa-twitter-square.hover-color-tw.w-20
                    a(href="//facebook.com/dhushyanth.ramasamy" target="_blank").gray
                      span.fa.fa-facebook-square.hover-color-fb.w-20
                    a(href="//linkedin.com/profile/view?id=57031832" target="_blank").gray
                      span.fa.fa-linkedin-square.hover-color-li.w-20
            .col-md-4.clearfix.padding-10
              .person-bust.col-xs-4
                img(src='https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/p160x160/10891736_1412505129042609_7054290338982547194_n.jpg?oh=2a07bae7b550172d47321d816a88eef1&oe=55484E7C&__gda__=1435846250_7244d4a29997b674a7675dcba9042ab2' height="100%" width="100%" style="border-radius: 100%;")
              .person-bio.col-xs-8
                .person-title.fs-18.bold
                  | Karan Chhabra
                .person-desc.fs-14
                  | for advice on frontend design.
                  .fs-18
                    a(href="//facebook.com/profile.php?id=100008494068114" target="_blank").gray
                      span.fa.fa-facebook-square.hover-color-fb.w-20
            .col-md-4.clearfix.padding-10
              .person-bust.col-xs-4
                img(src='https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/c233.39.494.494/s160x160/1185746_10201410087830970_1671857881_n.jpg?oh=b899f062d066ae6f19397d333300a820&oe=558AC48C&__gda__=1434196104_c45237447e777a4689290a1911691b2a' height="100%" width="100%" style="border-radius: 100%;")
              .person-bio.col-xs-8
                .person-title.fs-18.bold
                  | Nitin Iyer
                .person-desc.fs-14
                  | for keeping me on schedule.
                  .fs-18
                    a(href="//facebook.com/Nitin.Iyer" target="_blank").gray
                      span.fa.fa-facebook-square.hover-color-fb.w-20
                    a(href="//linkedin.com/profile/view?id=38075078" target="_blank").gray
                      span.fa.fa-linkedin.hover-color-li.w-20
            .col-md-4.clearfix.padding-10
              .person-bust.col-xs-4.clearfix
                img(src='https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/p160x160/10897800_1035514226468007_570031760861586221_n.jpg?oh=c0ef8efcefbcd1da9ef5bc23979f4897&oe=5549B958&__gda__=1435449181_5679f64d91caad33d6412be1629f3d22' height="100%" width="100%" style="border-radius: 100%;")
              .person-bio.col-xs-8
                .person-title.fs-18.bold
                  | Sanjay Jangid
                .person-desc.fs-14
                  | for help with logo design.
                  .fs-18
                    a(href="//facebook.com/xsanjayiitr" target="_blank").gray
                      span.fa.fa-facebook-square.hover-color-fb.w-20
            .col-md-4.clearfix.padding-10
              .person-bust.col-xs-4
                img(src='https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpa1/v/t1.0-1/c0.63.160.160/p160x160/10993951_924741647571002_4388305167711585024_n.jpg?oh=75b7ba6e3faad5683a9a469fc72b40c6&oe=5581A47E&__gda__=1434511673_957646ea7df11f720132e8f3d7256473' height="100%" width="100%" style="border-radius: 100%;")
              .person-bio.col-xs-8
                .person-title.fs-18.bold
                  | Bhavna Sharma
                .person-desc.fs-14
                  | for photographs.
                  .fs-18
                    a.gray(href="//facebook.com/pages/Bhavnas/460082510703587" target="_blank")
                      span.fa.fa-facebook-square.hover-color-fb.w-20
                    a.gray(href="//behance.net/bhavnas" target="_blank")
                      span.fa.fa-behance-square.hover-color-be.w-20
