extends ../layout

block meta
  include meta_layout
  meta(name="description" content="India Outside's vision and mission. People behind it.")
  meta(property="og:description" content="India Outside's vision and mission. People behind it.")
  meta(property="og:image" content="https://c1.staticflickr.com/1/314/19328092171_a715ab2ffb_z.jpg")
  meta(property="og:url" content="http://www.indiaoutside.org/about")
  meta(name="twitter:description" content="India Outside's vision and mission. People behind it.")
  meta(name="twitter:image:src" content="https://c1.staticflickr.com/1/314/19328092171_a715ab2ffb_z.jpg")

block content
  .white-bg.clearfix.std-shadow.padding-10
    .col-md-10.col-md-offset-1
      .para-wrapper.padding-10
        .para-title.text-center.fs-24.padding-tb-10
          | Our Vision
        .para-desc.fs-16
          p We at India Outside aim to build an online platform for adventure sports and active lifestyle in India. We intend to do that by making it easier for you to find all the information you need about an outdoor sport you wish to pursue.
      .para-wrapper.padding-lr-10.padding-tb-10
        .para-title.text-center.fs-24.padding-tb-10
          | People
        .para-desc
          .row
            .col-md-12.padding-tb-10.clearfix
              .person-bust.col-xs-6.col-md-2.col-sm-4
                img(src='https://c1.staticflickr.com/1/395/19426194170_7b982ea4cf_n.jpg' height="100%" width="100%" style="border-radius: 100%;")
                .text-center.fs-20
                  a.gray(href="//twitter.com/shreshthmohan" target="_blank")
                    span.fa.fa-twitter-square.hover-color-tw.w-20
                  a.gray(href="//facebook.com/shreshthmohangupta" target="_blank")
                    span.fa.fa-facebook-square.hover-color-fb.w-20
                  a.gray(href="//in.linkedin.com/in/shreshthmohan" target="_blank")
                    span.fa.fa-linkedin-square.hover-color-li.w-20
              .person-bio.col-xs-6.col-md-10.col-sm-8
                .person-title.fs-20.bold
                  | Shreshth Mohan
                .person-role.fs-16
                  | Curation, Engineering & Design
                .person-desc.fs-14.hidden-xs
                  p I am a fitness freak and an outdoor sports enthusiast who happens to know a bit about technology. I use my cycle to commute in Delhi. I quit my job as an electronics engineer to travel and build India Outside.
                  p When I am not working on India Outside I engage in either rock-climbing, slacklining, cycling or hiking.
                  p
                    | If you would like to discuss anything about adventure sports in India feel free to email me at 
                    a(href="mailto:team@indiaoutside.org") team@indiaoutside.org
            .col-md-12.padding-tb-10.clearfix
              .person-bust.col-xs-6.col-md-2.col-sm-4
                img(src='https://c1.staticflickr.com/1/462/19908889791_002238b818_n.jpg' height="100%" width="100%" style="border-radius: 100%;")
                .text-center.fs-20
                  a.gray(href="//twitter.com/putultiwari" target="_blank")
                    span.fa.fa-twitter-square.hover-color-tw.w-20
                  a.gray(href="//facebook.com/fallenbrahmin" target="_blank")
                    span.fa.fa-facebook-square.hover-color-fb.w-20
                  //- a.gray(href="//in.linkedin.com/in/shreshthmohan" target="_blank")
                  //-   span.fa.fa-linkedin-square.hover-color-li.w-20
              .person-bio.col-xs-6.col-md-10.col-sm-8
                .person-title.fs-20.bold
                  | Putul Tiwari
                .person-role.fs-16
                  | Content & Social Media
                .person-desc.fs-14.hidden-xs
                  p A detail devil who, when not gazing into nothingness, can be found writing or observing social media trends. I am an aspiring minimalist, former journalist, greedy listener and reluctant speaker.
            .col-md-12.text-center.fs-20.padding-tb-10.clearfix
              | Thanks to
            .col-md-4.clearfix.padding-10
              .person-bust.col-xs-4
                img(src='https://c1.staticflickr.com/1/313/17825253363_53533e29ac_m.jpg' height="100%" width="100%" style="border-radius: 100%;")
              .person-bio.col-xs-8
                .person-title.fs-18.bold
                  | Dushyanth R.
                .person-desc.fs-14
                  | for general advice.
                  .fs-18
                    a(href="//twitter.com/dash267" target="_blank").gray
                      span.fa.fa-twitter-square.hover-color-tw.w-20
                    a(href="//facebook.com/dhushyanth.ramasamy" target="_blank").gray
                      span.fa.fa-facebook-square.hover-color-fb.w-20
                    a(href="//in.linkedin.com/in/dash267" target="_blank").gray
                      span.fa.fa-linkedin-square.hover-color-li.w-20
            .col-md-4.clearfix.padding-10
              .person-bust.col-xs-4
                img(src='https://c1.staticflickr.com/1/391/18419534866_d299aa39b2.jpg' height="100%" width="100%" style="border-radius: 100%;")
              .person-bio.col-xs-8
                .person-title.fs-18.bold
                  | Karan Chhabra
                .person-desc.fs-14
                  | for advice on frontend design.
                  .fs-18
                    a(href="//facebook.com/profile.php?id=100008494068114" target="_blank").gray
                      span.fa.fa-facebook-square.hover-color-fb.w-20
            .col-md-4.clearfix.padding-10
              .person-bust.col-xs-4
                img(src='https://c1.staticflickr.com/1/378/18419127156_052581037d_m.jpg' height="100%" width="100%" style="border-radius: 100%;")
              .person-bio.col-xs-8
                .person-title.fs-18.bold
                  | Nitin Iyer
                .person-desc.fs-14
                  | for keeping me on schedule.
                  .fs-18
                    a(href="//facebook.com/Nitin.Iyer" target="_blank").gray
                      span.fa.fa-facebook-square.hover-color-fb.w-20
                    a(href="https://uk.linkedin.com/in/nitiniyer89" target="_blank").gray
                      span.fa.fa-linkedin-square.hover-color-li.w-20
            .col-md-4.clearfix.padding-10
              .person-bust.col-xs-4.clearfix
                img(src='https://c1.staticflickr.com/9/8877/18258383650_5cb0753da9_n.jpg' height="100%" width="100%" style="border-radius: 100%;")
              .person-bio.col-xs-8
                .person-title.fs-18.bold
                  | Sanjay Jangid
                .person-desc.fs-14
                  | for help with logo design.
                  .fs-18
                    a(href="//facebook.com/xsanjayiitr" target="_blank").gray
                      span.fa.fa-facebook-square.hover-color-fb.w-20
            .col-md-4.clearfix.padding-10
              .person-bust.col-xs-4
                img(src='https://c1.staticflickr.com/9/8892/17825415443_0ccbce4eb3_m.jpg' height="100%" width="100%" style="border-radius: 100%;")
              .person-bio.col-xs-8
                .person-title.fs-18.bold
                  | Bhavna Sharma
                .person-desc.fs-14
                  | for photographs.
                  .fs-18
                    a.gray(href="//facebook.com/pages/Bhavnas/460082510703587" target="_blank")
                      span.fa.fa-facebook-square.hover-color-fb.w-20
                    a.gray(href="//behance.net/bhavnas" target="_blank")
                      span.fa.fa-behance-square.hover-color-be.w-20
            .col-md-4.clearfix.padding-10
              .person-bust.col-xs-4
                img(src='https://lh3.googleusercontent.com/_LGONbo_3bfWGo0cE8JJHuoLo8kiUvj_Rx0H41g4n-A=w200-h199-no' height="100%" width="100%" style="border-radius: 100%;")
              .person-bio.col-xs-8
                .person-title.fs-18.bold
                  | Shivya Malhotra
                .person-desc.fs-14
                  | for articles on the 
                  a(href="//blog.indiaoutside.org") blog
                  | .
                  .fs-18
                    a.gray(href="https://www.facebook.com/shivi.mehrotra.28" target="_blank")
                      span.fa.fa-facebook-square.hover-color-fb.w-20
                    a.gray(href="https://blogspotshivya.wordpress.com/" target="_blank")
                      span.fa.fa-wordpress.hover-color-fb.w-20
