extends layout

block content
  h1 experiment
  ul
  each race in races
    li
      |  #{race.event_name}
      |  #{race.city.city_name}
      br
      ul
      each tag in race.eventTags
        li
          | #{tag.id}

