.fb-page(data-href="https://www.facebook.com/indiaoutside" data-height="1000px" data-width="500px" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false")
  .fb-xfbml-parse-ignore
    blockquote(cite="https://www.facebook.com/indiaoutside")
      a(href="https://www.facebook.com/indiaoutside") India Outside
