.row
  .explore-head.text-center.border-gray
    | Featured
.row
  .col-md-12
    a(href="//incrediblespiti.com" target="_blank")
      .category-el
        .info.clearfix(style="background-image: url('http://www.incrediblespiti.com/wp-content/uploads/2015/01/G0020126_a.jpg');")
          .info-text.col-xs-12
            h2.sm.uppercase.bob.absolute.padding-tb-5.padding-lr-10
              span.block.fs-16.padding-b-5
                | INCREDIBLE SPITI
              span.number.uppercase.block.fs-12
                | TREKKING, MOTORCYCLING, SAFARIS
           .info-overlay
