//- .row
//-   .explore-head.text-center.border-gray
//-     | Featured
.row
  .col-md-12
    a(href="https://goo.gl/3aKFAm" target="_blank")
      .category-el
        .info.clearfix(style="background-image: url('https://lh3.googleusercontent.com/hZ2nYFk6l1tBOwHOiScp4lO9xf6iyRTmgmhpx0OJnYo=w556-h344-no');")
          .info-text.col-xs-12
            h2.sm.uppercase.bob.absolute.padding-tb-5.padding-lr-10
              span.block.fs-16.padding-b-5
                | INTRODUCTION TO ROCK CLIMBING
              span.number.uppercase.block.fs-12
                | A WORKSHOP BY BANGALORE CLIMBERS
           .info-overlay
