//- .row
//-   .explore-head.text-center.border-gray
//-     | Featured
.row
  .col-md-12
    a(href="/help_climbers" target="_blank")
      .category-el
        .info.clearfix(style="background-image: url('https://lh3.googleusercontent.com/6YEs-aBEAfL5HEzdQqKyr_2eACSTVlg40WrfINL3wQ=w1100-h400-no');")
          .info-text.col-xs-12
            h2.sm.uppercase.bob.absolute.padding-tb-5.padding-lr-10
              span.block.fs-16.padding-b-5
                | HELP YOUNG CLIMBERS
              span.number.uppercase.block.fs-12
                | TALENTED BUT UNPRIVILEGED KIDS CANT AFFORD ...
           .info-overlay
