extends ../layout


block meta
  include meta_layout
  meta(name="description" content="Help these underprivileged young climbers get to an international climbing competition.")
  meta(property="og:description" content="Help these underprivileged young climbers get to an international climbing competition.")
  meta(name="twitter:description" content="Help these underprivileged young climbers get to an international climbing competition.")
  meta(property="og:image" content="https://lh3.googleusercontent.com/6YEs-aBEAfL5HEzdQqKyr_2eACSTVlg40WrfINL3wQ=w1100-h400-no")
  meta(name="twitter:image:src" content="https://lh3.googleusercontent.com/6YEs-aBEAfL5HEzdQqKyr_2eACSTVlg40WrfINL3wQ=w1100-h400-no")
  meta(property="og:url" content="http://www.indiaoutside.org/help_climbers")
  meta(property="og:type" content="website")

block content
  .white-bg.clearfix.std-shadow.padding-10
    div(class="fb-share-button" data-href="http://www.indiaoutside.org/help_climbers" data-layout="button_count")
    div(style="margin-top: 5px;")
      a.twitter-share-button( href="https://twitter.com/intent/tweet?text=Help%20these%20young%20climbers%20participate%20in%20a%20competition%20in%20Italy&url=http%3A%2F%2Fwww.indiaoutside.org%2Fhelp_climbers&via=indiaoutside") Tweet
    .col-md-10.col-md-offset-1
      .para-wrapper.padding-10
        .alert-box.text-center.bg-io-yellow.fs-24.white.padding-10
          | Thanks for your support! We were able to raise enough to send the kids to Italy. Follow the updates on 
          a(href="https://www.facebook.com/helpusclimb" target="_blank") Facebook.
        h1.para-title.text-center.fs-24.padding-tb-10.bold
          | Help these young climbers get to Italy
        .para-desc.fs-16
          p 
            b Siddhi
            |  and 
            b Akash 
            | have been selected  to represent India in IFSC's (International Federation of Sport Climbing) World Youth Championship that will be held in 
            b 
              a(href="http://www.rockmasterfestival.com/2015/en/youth-world-championships/introduction/" target="_blank") Arco, Italy
              |  from 27 August to 6 September 2015
            | . But because of their weak economic background their parents cannot afford to send them to Italy.
      .row
        .col-md-6.padding-tb-10.clearfix
          .person-bust.col-xs-6.col-xs-offset-3.col-md-4.col-md-offset-4
            img(src='https://c1.staticflickr.com/1/321/19766479821_8dfba75702.jpg' height="100%" width="100%" style="border-radius: 100%;")
            .text-center.fs-20
              //- a.gray(href="//twitter.com/shreshthmohan" target="_blank")
              //-   span.fa.fa-twitter-square.hover-color-tw.w-20
              //- a.gray(href="//facebook.com/shreshthmohangupta" target="_blank")
              //-   span.fa.fa-facebook-square.hover-color-fb.w-20
              //- a.gray(href="//in.linkedin.com/in/shreshthmohan" target="_blank")
              //-   span.fa.fa-linkedin-square.hover-color-li.w-20
          .person-bio.col-xs-12
            .person-title.fs-20.bold.text-center
              | Siddhi Manerikar
            .person-desc.fs-14.text-justify
              p Siddhi started climbing on her school premises, at the Arun Samant Climbing Wall, Mumbai, at the age of 13 and her dedication, skill and love for sport climbing showed in her first win at the Nationals the very next year. Since then, there was no turning back. She has participated in International Climbing Competitions as well, and quite notably at that. She's a very assiduous climber, also critical and honest of her climbing skills and identifies her weaknesses and seeks to tackle them headlong. Her go-getter attitude has enabled her to retain her numero uno spot as one of the most acclaimed Sport Climbers in India.
          .person-bio.col-xs-12
            .person-title.fs-18.text-center
              |  Accolades
            .person-desc.fs-14
              table.accolade-table
                tr
                  th Year
                  th Competition
                  th Category
                  th Rank
                tr
                  td 2015
                  td National Bouldering Competition
                  td Bouldering (Women)
                  td 1st
                tr
                  td 2014
                  td 20th National Sport Climbing Competition
                  td Lead (Women); Bouldering (Women)
                  td 1st; 2nd
                tr
                  td 2014
                  td Asian Contintental Championship
                  td Lead (Open)
                  td 19th
                tr
                  td 2013
                  td Asian Youth Championship, Surbaya
                  td Lead (Youth)
                  td 4th
                tr
                  td 2013
                  td 19th National Sport Climbing Competition
                  td Lead; Speed; Bouldering 
                  td 2nd; 4th; 4th
                tr
                  td 2013
                  td 19th West Zone Sport Climbing Competition
                  td Lead; Speed; Bouldering 
                  td 1st; 1st; 1st
                tr
                  td 2013
                  td General Thimayya Cup Open National
                  td Lead
                  td 2nd
                tr
                  td 2012
                  td 18th National Sport Climbing Competition
                  td Lead (Junior); Speed (Junior); Bouldering (Junior) 
                  td 2nd; 4th; 4th
                tr
                  td 2012
                  td 18th West Zone Sport Climbing Competition
                  td Lead; Speed; Bouldering 
                  td 1st; 1st; 1st
        .col-md-6.padding-tb-10.clearfix
          .person-bust.col-xs-6.col-xs-offset-3.col-md-4.col-md-offset-4
            img(src='https://c1.staticflickr.com/1/540/19148929034_a0741e4a60.jpg' height="100%" width="100%" style="border-radius: 100%;")
            .text-center.fs-20
              //- a.gray(href="//twitter.com/shreshthmohan" target="_blank")
              //-   span.fa.fa-twitter-square.hover-color-tw.w-20
              //- a.gray(href="//facebook.com/shreshthmohangupta" target="_blank")
              //-   span.fa.fa-facebook-square.hover-color-fb.w-20
              //- a.gray(href="//in.linkedin.com/in/shreshthmohan" target="_blank")
              //-   span.fa.fa-linkedin-square.hover-color-li.w-20
          .person-bio.col-xs-12
            .person-title.fs-20.bold.text-center
              | Akash Gaikwad
            .person-desc.fs-14.text-justify
              p Akash started climbing at the Arun Samant Climbing Wall in Mumbai, at the age of 12 years and the very next year won his first medal at the National Level Sport Climbing Competition in India. He continues to excel in all forms of Sport Climbing namely Lead, Speed and Bouldering. He comes from an underprivileged background and climbing is not only empowering but also comforting for him. It’s not just about winning or reaching the top, the process itself gives him mental peace. It’s his immense focus and dedication that has led him to be one of the most celebrated Youth Climbers of India. He wants to contribute to pushing the frontiers of climbing as a whole.
          .person-bio.col-xs-12
            .person-title.fs-18.text-center
              |  Accolades
            .person-desc.fs-14
              table.accolade-table
                tr
                  th Year
                  th Competition
                  th Category
                  th Rank
                tr
                  td 2014
                  td Asian Contintental Championship
                  td Lead (Open)
                  td 27th
                tr
                  td 2013
                  td 19th National Sport Climbing Competition
                  td Lead (Junior); Bouldering (Junior)
                  td 3rd; 4th
                tr
                  td 2013
                  td 19th West Zone Sport Climbing Competition
                  td Lead (Junior); Bouldering (Junior)
                  td 3rd; 2nd
                tr
                  td 2013
                  td General Thimayya Cup Open National
                  td Lead (Junior)
                  td 1st
                tr
                  td 2012
                  td 18th National Sport Climbing Competition
                  td Lead (Junior)
                  td 4th
                tr
                  td 2012
                  td 18th West Zone Sport Climbing Competition
                  td Lead (Junior); Speed (Junior); Bouldering (Junior)
                  td 1st; 1st; 1st
                tr
                  td 2012
                  td General Thimayya Cup Open National
                  td Lead (Junior)
                  td 4th
                tr
                  td 2011
                  td 17th National Sport Climbing Competition
                  td Sub-junior
                  td 2nd
                tr
                  td 2011
                  td 17th West Zone Sport Climbing Competition
                  td Sub-junior
                  td 4th
        .col-md-12.padding-tb-10.clearfix
          .person-title.fs-20.bold.text-center
            | People
          .para-desc.fs-16
            p 
             b Deepa Bhat, Sajid Chougle and Rahul Pendse
             |  (mentor to both Siddhi and Akash) will be helping these kids with all the arrangements to get to the International competition in Italy.
        .col-md-12.padding-tb-10.clearfix
          .person-title.fs-20.bold.text-center
            | Budget
          .para-desc.fs-14
            table(style="margin: auto;")
              tr
                th Expense details
                th Per head (INR)
                th Total (INR)
              tr
                td Travelling costs (Mumbai-Arco-Mumbai): Economy air-fare for 2 climbers and 1 guardian
                td 70,000
                td 2,10,000
              tr
                td VISA costs for 3
                td 10,000
                td 30,000
              tr
                td Stay in Arco
                td 30,000
                td 90,000
              tr
                td Food costs for 3 during the climbing competition
                td 20,000
                td 60,000
              tr
                td Miscellaneous contingency
                td 15,000
                td 45,000
              tr(style="background-color: rgb(250, 227, 194);")
                td
                  b Total
                td
                td
                  b 4,35,000
        .col-md-12.padding-tb-10.clearfix
          .person-title.fs-20.bold.text-center
            | Bank Account Details
          .para-desc.fs-14
            table(style="margin: auto;")
              tr
                td Account Holder's Name
                td Abhinav Shikshan Prasarak Mandal
              tr
                td Bank
                td Bank of Maharashtra
              tr
                td IFSC
                td MAHB0000978
              tr
                td MICR
                td 400014083
              tr
               td Branch
               td Mumbai Film City Goregaon
              tr
                td Account Number
                td 60128997230
            p Despite of the fact that IMF has 'approved' (
              a(href="https://lh3.googleusercontent.com/UtT7_-u1EM6klIQM7tdGnV9yplB4PbpSX2nhxf3uJg=w446-h614-no") letter to Siddhi
              | , 
              a(href="https://lh3.googleusercontent.com/Y845CriZBj1fKOCxNMxnNk30920kAQ6tmeAaA7px_g=w446-h614-no") letter to Akash
              | ) their participation at the said  International Competition and is expecting them to send a brief report about their participation, there is no financial support provided by the prestigious Institution. That is why we are trying to raise money for these talented kids. Make a contribution and see them climb.
            p For any clarifications please get in touch with:
              ul(style="margin-left: 30px;")
                li Sajid Chougle (
                  a(href="https://www.facebook.com/sajidneo" target="_blank") Facebook
                  |  or 
                  a(href="mailto:sajidneo@gmail.com") sajidneo@gmail.com
                  |  or 
                  a(href="https://twitter.com/sajid_chougle" target="_blank") Twitter
                  |  or +91-9820818408)
                li Rahul Pendse (
                  a(href="https://www.facebook.com/rahul.pendse.16" target="_blank") Facebook
                  |  or +91-9819260256 or 
                  a(href="mailto:pendse.rahul@gmail.com") pendse.rahul@gmail.com
                  | )
                li Deepa Bhat (
                  a(href="https://www.facebook.com/deebhat" target="_blank") Facebook
                  |  or 
                  a(href="mailto:deepaabhat@gmail.com") deepaabhat@gmail.com
                  |  or 
                  a(href="https://twitter.com/deepaabhat") Twitter
                  |  or +91-9930840039 
                  | )
            p If you can't contribute atleast spread the word among your friends.
            div(class="fb-share-button" data-href="http://www.indiaoutside.org/help_climbers" data-layout="button_count")
            div(style="margin-top: 5px;")
              a.twitter-share-button( href="https://twitter.com/intent/tweet?text=Help%20these%20young%20climbers%20participate%20in%20a%20competition%20in%20Italy&url=http%3A%2F%2Fwww.indiaoutside.org%2Fhelp_climbers&via=indiaoutside") Tweet

