doctype html

html(lang='en')
  head
    title= title
    link(href="/application.css" rel="stylesheet")
    link(rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css")

  body
    div(class="navbar navbar-default navbar-fixed-top" role="navigation")
      div(class="container")
        div(class="navbar-header")
          button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand" href="/") India Outside
        div(class="navbar-collapse collapse")
          ul(class="nav navbar-nav")
            li(class="active")
              a(href='/') Home
            li
              a(href='TODO') Events
            li
              a(href='TODO') Gear 
            li
              a(href='TODO')
                i(class="fa fa-twitter-square")
                span(class="hide-for-small")  
            li
              a(href='TODO')
                i(class="fa fa-facebook-square")
                span(class="hide-for-small") 
          
    div(class="container")
      div(class="jumbotron")
        h1= h1_title
        form(class="home-radio")
          input(id="gear" type="radio" name="search" value="gear")
          label(for="gear" class="home-radio-label") Gear
          input(id="events" type="radio" name="search" value="events" checked="checked")
          label(for="events" class="home-radio-label") Events 
        div(class="gear")
          h2 Get equipped
          form(class="search")
            | Looking for 
            input(class="form-control" type="text" name="geartype" placeholder="e.g. hiking")
            | in
            input(class="form-control" type="text" name="location" placeholder="e.g. Bangalore")
        div(class="events")
          h2 Upcoming Races and Events!
          form(class="search")
            | I want to participate in
            input(class="form-control" type="text" name="activitytype" placeholder="e.g. surfing")
            | Event in 
            input(class="form-control" type="text" name="location" placeholder="e.g. Goa")
            | between
            input(class="form-control" type="text" name="start_date" placeholder="e.g. 4 December 2014" id="from")
            | and
            input(class="form-control" type="text" name="location" placeholder="e.g. 12 January 2015" id="to")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js")
    script(src="/js/bootstrap.js")
    script
      | $(function() {
      |   $( "#from" ).datepicker({
      |     dateFormat: "dd/mm/yy",
      |     onClose: function(selectedDate) {
      |       $("#to").datepicker("option", "minDate", selectedDate); 
      |     }
      |   });
      |   $( "#to" ).datepicker({
      |     dateFormat: "dd/mm/yy",
      |     onClose: function(selectedDate) {
      |       $("#from").datepicker("option", "maxDate", selectedDate); 
      |     }
      |   });
      | });
    script(src="/ie10-viewport-bug-workaround.js TODO")
    script(src="/ie-emulation-modes-warning.js TODO")
    script(src="/home.js")
