meta(name="viewport" content='width=device-width, initial-scale=1')
meta(property="fb:app_id" content="281752048631925")
meta(property="og:site_name" content="India Outside")
meta(property="og:title" content= title_ + " - India Outside")
meta(name="twitter:card" content="summary_image_large")
meta(name="twitter:title" content= title_ + " - India Outside")
meta(name="twitter:site" content="@indiaoutside")
meta(name="twitter:creator" content="@shreshthmohan")
