.row
  .explore-head.text-center.border-gray
    | Stay Updated
.row
  .col-md-12.margin-b-20
    include fb_page_plugin
.row
  .explore-head.text-center.border-gray
    | Check us out on Instagram!
  .col-md-12
    include instansive_plugin
