.row
  .explore-head.text-center.border-gray
    | Follow Us
.row
  .col-md-12
    .category-el.text-center.clearfix
        div.fs-14.padding-t-10 Stay up to date with what's happening outdoors.
        a(href="//fb.com/indiaoutside" title="India Outside on Facebook" target="_blank")
          span.fa.fa-facebook-square.fs-48.big-social.color-fb
        a(href="//twitter.com/indiaoutside" title="India Outside on Twitter" target="_blank")
          span.fa.fa-twitter-square.fs-48.big-social.color-tw
        a(href="//instagram.com/indiaoutside" title="India Outside on Instagram" target="_blank")
          span.fa.fa-instagram.fs-48.big-social.color-in
