doctype html

html(lang='en')
  head
    meta(name="viewport" content='width=device-width, initial-scale=1')
    link(href="/application.css" rel="stylesheet")
    link(href='//fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')
    title
      | Volunteering opportunity in Rural Chhattisgarh
  body
    .container
      .white-bg.std-shadow(style="padding: 30px;")
        h1.md Calling in foreign nationals travelling to Chhattisgarh for a guest lecture in a rural institute.
        .fs-14
          p Are you interested in experiencing rural India while making a difference? Here's a chance to interact with rural students and share your knowledge with them.
          ul
            li Skills required:
              p Knowledge in one or more of these:
              ul
                li Sustainable Living
                li Rainwater harvesting
                li Innovative farming practices
                li Unconventional teaching methods
            li We need you to spare time to visit a location in rural Chhattisgarh for a 1-2 hour lecture, discussion or interactive session.
            li We are open to ideas.
          p Interested? Drop an email to 
            a(href="mailto:journoputul@gmail.com?subject=Guest lecutre in rural Chhattisgarh&cc=sremog@gmail.com" target="_blank") journoputul@gmail.com
            | .
