.groups, .gear, .learn  {
  display: none;
}

.home-radio-label {
  font-size: 18px;
  color: #f6cc23;
  margin-right: 15px;
  margin-left: 3px;
}

input[type=radio]checked + label {
}

form.home-radio {
  font-size: 18px;
  margin-bottom: -10px;
}

form.search {
  font-size: 18px;
  line-height: 40px;
}
