@import "bootstrap/bootstrap";
@import "font-awesome/less/font-awesome.less";

//@io-yellow: #f6cc23;
//@io-yellow: #f69b23;
//@io-yellow: #fed20b;
@io-yellow: #f0ad4e;
//@io-yellow: #f4a43b;
// color scheme experiments seem never to be over
// ask people to vote over it? TODO

@io-red: #cb202d;

@navbar-bg: #e7e7e7;

@shadow-orange: #dd4814;
@navbar-default-link-hover-color: #444444;
@navbar-default-link-active-color: #444444;

@navbar-link-under: @io-yellow;

@gray-light80: lighten(@gray-base, 80%);
@gray-light85: lighten(@gray-base, 85%);
@gray-light85: lighten(@gray-base, 85%);
@gray-light86: lighten(@gray-base, 86%);
@gray-light87: lighten(@gray-base, 87%);
@gray-light88: lighten(@gray-base, 88%);
@gray-light89: lighten(@gray-base, 89%);
@gray-light90: lighten(@gray-base, 90%);
@gray-light91: lighten(@gray-base, 91%);
@gray-light92: lighten(@gray-base, 92%);
@gray-light93: lighten(@gray-base, 93%);
@gray-light95: lighten(@gray-base, 95%);
@gray-light96: lighten(@gray-base, 96%);
@gray-light97: lighten(@gray-base, 97%);

// form-control: box-border and shadow color
@input-border-focus: @io-yellow;


// Help:
// padding/margin/border
// top right bottom left 

// Header font-sizes
@font-size-h1:            floor((@font-size-base * 1.9)); 
@font-size-h2:            floor((@font-size-base * 1.7));
@font-size-h3:            ceil((@font-size-base * 1.5));
@font-size-h4:            ceil((@font-size-base * 1.23));
@font-size-h5:            @font-size-base * 1;
@font-size-h6:            ceil((@font-size-base * 0.90));


// Header top margin
h3 {
  margin-top: (@line-height-computed / 2);
  margin-bottom: ceil(@line-height-computed / 3);
}

h2 {
  margin-top: (3 * (@line-height-computed / 4));
  margin-bottom: (2* (@line-height-computed / 5));
}

// Navbar 

  .navbar-default {
    .navbar-nav {
      > li {
        text-align: center;
        > a {
          font-size: 18px;
          font-weight: bold;
          background-color: @navbar-bg;
          &:hover,
          &:focus {
            color: @navbar-default-link-hover-color;
            // For underline on hover
            &:after {
              @media (min-width: @grid-float-breakpoint) {
                visibility: visible;
              }
            }
          }
          // For underline on hover
          &:after {
            @media (min-width: @grid-float-breakpoint) {
              color: @navbar-link-under;
              content: "";
              width: 100%;
              height: 0;
              display: block;
              position: absolute;
              bottom: 0;
              left: 0px;
              visibility: hidden;
              border-style: solid;
              border-width: 2px 0 0;
            }
          }
        }
      }
      > .active > a {
        // For undeline on hover
        &:after {
          @media (min-width: @grid-float-breakpoint) {
            visibility: visible;
            border-width: 4px 0 0;
          }
        }
        &:hover {
          background-color: @navbar-default-link-hover-bg; 
        }
      }
    }
    .navbar-brand {
      color: @io-yellow;
      background-color: @navbar-bg;
      &:hover,
      &:focus {
        color: @io-yellow;
      }
    }
  }
  
  .navbar-brand {
    font-size: ceil((@font-size-base * 2.25));
    font-weight: bold;
  }

  body {
    margin-top: 70px; // To bring jumbotron container below navbar
    font-size: 105%; // To control datepicker size
    min-height: 2000px;
    background-color: @gray-lighter;
  }

// Home radio form 
  .groups, .gear, .learn  {
    display: none;
  }
  
  .home-radio-label {
    font-size: 18px;
    color: @io-yellow;
    margin-right: 15px;
    margin-left: 3px;
  }
  
  form.home-radio {
    font-size: 18px;
    margin-bottom: -10px;
  }

// Forms
.form-control {
  display: inline;
  width: auto;
  border-radius: 0px;
  margin: 0px 5px 0px 5px;
  &:focus {
    //border-color: @io-yellow;
  }
}

form.search {
  font-size: 18px;
  line-height: 19px;
}

// Jumbotron
.jumbotron {
  border-radius: 0px; 
  padding: (@jumbotron-padding / 2) (@jumbotron-padding / 3);
  .container & {
    border-radius: 0px; 
  }
  @media screen and (min-width: @screen-sm-min) {
    padding: 15px 0px;
  }
}

.home-search {
  text-align: center;
}

// Social Icons
li.social-icon {
  min-width: 6em;
  text-align: center;
}

// Buttons
.btn {
  border-radius: 0px;
  border: 0px solid transparent;
  margin: 5px 5px 5px 5px;
}

// Calendar on home
// TODO Update when you add calendars elsewhere
.cal {
  background-color: @input-bg;
  display: inline-block;
  padding: 6px 12px 6px 12px;
  margin: 0px 5px 5px 5px;
  border: 1px solid @input-border;
  .form-control {
    margin: 0px 5px 0px 5px;
    padding: 0px;
    border: 0px solid transparent;
    height: auto;
    .box-shadow(none);
  }
}


// filter bar (events search) bar 
.filter-bar {
  padding-bottom: 20px;
  padding-top: 1px; // to accomodate h2's margin
  margin-bottom: 5px;
  background-color: white; 
  border: 1px solid; 
  border-color: darken(@gray-lighter, 5%) darken(@gray-lighter, 12%) darken(@gray-lighter, 20%); 
  h1 {
    font-weight: bold;
    color: lighten(@navbar-default-link-active-color, 10%);
  }
}


// Events list
.events-list {
  //border-left: 3px solid @gray-light91; 
}

.event-el {
  list-style: none;
  border: 1px solid; 
  border-color: darken(@gray-lighter, 5%) darken(@gray-lighter, 12%) darken(@gray-lighter, 20%); 
  // top left-right bottom
  padding: 1px 0px 10px 15px;
  font-size: medium;
  background-color: white;
  margin-bottom: 5px;
  > a > h2 {
    font-weight: bold;
  }
}

a {
 color: lighten(@navbar-default-link-active-color, 10%);
  &:hover, &:focus {
    color: darken(@io-yellow, 15%);
    text-decoration: none;
  }
}


// TODO 
// Try fonts, esp. Google webfonts
